<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mistery Box</title>
</head>
<body>
    <h1> Huevos Randomizer</h1>
        <div class="box-eggs" onclick="openbox()">
            <span>Haz click para abrir la caja</span>
        </div>

        <script>
            function openbox() {
                const selectecEgg = <%= selectecEgg %>
                const eggElement = document.getElementById("egg");
                eggElement.style.display = "block";

                switch(selectecEgg){
                    case 1:
                        eggElement.src=""
                        break;
                    case 2:
                        eggElement.src=""
                        break;
                    case 3;
                        eggElement.src=""
                        break;
                    case 4:
                        eggElement.src=""
                        break;
                }
        </script>
    
</body>
</html>
