<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecciona un huevo</title>
    <style>
        .egg-box {
            text-align: center;
            margin-top: 50px;
        }
        .egg-box img {
            width: 200px;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>¡Es hora de seleccionar un huevo!</h1>
    <div class="egg-box">
        <% if (egg === 'blackDragon') { %>
            <img src="dragon-breeder\public\sprites\blackDragon\egg.png" alt="Huevo de dragón negro">
            <p>Has seleccionado el huevo del Dragón Negro.</p>
        <% } else if (egg === 'greenDragon') { %>
            <img src="dragon-breeder\public\sprites\greenDragon\egg.png" alt="Huevo de dragón verde">
            <p>Has seleccionado el huevo del Dragón Verde.</p>
        <% } else if (egg === 'orangeDragon') { %>
            <img src="dragon-breeder\public\sprites\orangeDragon\egg.png" alt="Huevo de dragón naranja">
            <p>Has seleccionado el huevo del Dragón Naranja.</p>
        <% } else { %>
            <img src="dragon-breeder\public\sprites\chicken\egg.png" alt="Huevo de gallina">
            <p>Has seleccionado un huevo... ¡pero es una gallina!</p>
        <% } %>
    </div>
</body>
</html>
