<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon Breeder</title>
</head>
<body>
    <header>
        <span>Dragon Breeder</span>
        <nav class="navbar">
            <ul class="item-nav">
                <li href="/" class="link-nav">Inicio</li>
                <li class="link-nav">Cambiar de dragones</li>
                <li class="link-nav">Misiones</li>
                <li class="link-nav">Luchar</li>
            </ul>
        </nav>
    </header>

    <%- body %>
</body>
</html>