<h1>Selecciona tu Dragón</h1>

<form action="/swap-dragon" method="POST">
    <table class="dragon-table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% userDragons.forEach(function(dragon) { %>
                <tr>
                    <td>
                        <img src="/sprites/dragons/<%= dragon.image %>.png" alt="<%= dragon.name %>" class="dragon-image">
                    </td>
                    <td><%= dragon.name %></td>
                    <td>
                        <button type="submit" name="dragon" value="<%= dragon.id %>" class="btn-select">Seleccionar</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</form>
