/* Ajuste para el contenedor principal */
.container {
    display: flex;
    justify-content: center;  
    align-items: center;            
    text-align: center; 
    flex-direction: column;
    background-size: cover; /* Imagen de fondo que cubre todo */
    padding: 20px;
    border-radius: 15px; /* Suavizar bordes del contenedor */
    overflow: hidden; /* Asegura que el contenido no se desborde */
    height: 100dvh;
}

/* Ajuste para la tarjeta de personaje (dragón) */
.card {
    width: 600px;
    background-color: #2c3e50; /* Color oscuro */
    border: 2px solid #c0392b; /* Borde rojo oscuro */
    border-radius: 15px;      
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    color: #ecf0f1; /* Texto claro */
}

/* Ajuste para el contenido de la tarjeta */
.cardContent {
    padding: 10px;
    text-align: center;
    width: 100%;             
}

/* Estilo para la imagen del dragón */
.imageCard img {
    width: 100%;             
    height: 180px;           
    object-fit: cover;       
    border-bottom: 2px solid #c0392b; /* Línea decorativa */
}

/* Ajuste para los nombres y tipos del personaje */
.name-character {
    font-size: 1.8em;
    font-weight: bold;
    color: #e74c3c; /* Rojo oscuro */
    margin-bottom: 5px;
}

.type-dragon {
    font-size: 1.2em;
    color: #f1c40f; /* Amarillo dorado */
    font-style: italic;
    margin-bottom: 10px;
    align-items: center;
}

/* Ajuste de la tabla de atributos */
.table-attributes {
    display: flex;
    justify-content: space-between; /* Distribuye los ítems equitativamente */
    padding: 0;
    margin: 10px 0;
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    overflow: hidden;
}

/* Cada ítem de atributo tiene mejor margen y ancho para evitar desbordamientos */
.attributesItem {
    display: flex;
    flex-direction: column; /* Orientación en columna */
    align-items: center;
    font-size: 1.2em;
    border-radius: 10px;
    border: 1px solid #e74c3c; /* Borde rojo */
    justify-content: center;
    padding: 10px;
    width: 30%; /* Ajusta el ancho para que haya espacio suficiente para cada ítem */
    margin: 0 5px; /* Espacio entre cada ítem */
}

/* Estilos específicos para niveles */
.energyLevel {
    color: #f39c12; /* Dorado para el nivel de energía ⚡ */
    font-size: 1.2em;
}

.healthLevel {
    color: #e74c3c; /* Rojo para el nivel de salud ❤️ */
    font-size: 1.2em;
}

.availableBattle {
    color: #2ecc71; /* Verde si está disponible */
    font-size: 1.2em;
    text-align: center;
}

/* Ajustar el contenedor para los botones fuera de la tarjeta */
.action-buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 600px; /* Ajustar al ancho máximo de la tarjeta */
    margin-bottom: 30px;
}

.action-buttons button {
    background-color: #e74c3c; /* Rojo intenso */
    color: white;
    border: 2px solid #c0392b;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    flex: 1 1 calc(33.333% - 10px); /* Distribuye los botones en 3 columnas con un pequeño espacio entre ellos */
    max-width: calc(33.333% - 10px);
    min-width: 100px; /* Asegura un ancho mínimo para los botones */
    transition: background-color 0.3s ease;
}

.action-buttons button:hover {
    background-color: #c0392b;
}

.action-buttons .btn-battle[disabled] {
    background-color: #7f8c8d; /* Gris si está deshabilitado */
    cursor: not-allowed;
}

/*Media queries para moviles*/
@media (max-width: 600px) {
    .card {
        width: auto;
    }
    .cardContent {
        padding: 10px;
        width: 100%;
    }

    .imageCard img{
        width: 100%;
        height: 150px;
    }
}