body{
    background-color: #1b1f2a; /* Un tono oscuro para el fondo */
    color: #e0e0e0; /* Color claro para el texto que contraste bien con el fondo */
    font-family: 'MedievalSharp', serif; /* Fuente temática */
    height: 100vh;
}

header{
    padding: 30px;
    
}


span{
    font-size: 1.8em;
}

/* Personalizando la Navbar para que tenga una estética más épica */
.navbar {
    background-color: #2c3e50; /* Un fondo oscuro con un tono medieval */
    border-bottom: 2px solid #e74c3c; /* Una línea roja en la parte inferior para darle un toque dramático */
}

.navbar-toggler {
    border: none; /* Remover el borde predeterminado */
    color: #f1c40f; /* Dorado para resaltar el ícono del menú móvil */
}

.navbar-nav .nav-item .nav-link {
    color: #ecf0f1; /* Color blanco claro para los enlaces */
    font-size: 1.2em; /* Aumenta el tamaño del texto para una sensación más dramática */
    padding: 10px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #f39c12; /* Cambia el color a dorado al hacer hover */
}

.navbar-nav .nav-item .nav-link.active {
    color: #f39c12; /* Mantén el enlace activo en dorado */
}


#sticky-footer {
    background-color: #2c3e50; /* Fondo oscuro para el pie de página */
    border-top: 2px solid #e74c3c; /* Añade una línea roja en la parte superior para consistencia */
}

#sticky-footer .container-footer {
    color: #f1c40f; /* Texto dorado */
    
}

#sticky-footer small {
    font-size: 1em;
}